<footer class="foot afoot">&copy;2021 &#128519; CREATED BY ηєєℓ ѕσвнαѕнαηα
    <ul class="social">
      <li><a href="https://www.facebook.com/profile.php?id=100012230767248"><img src="./img/f2.svg" alt="" height="70" width="70"></a></li>
      <li><a href="https://www.instagram.com/neelsobhasana/"><img src="./img/i2.svg" alt="" height="70" width="70"></a></li>
      <li><a href="https://twitter.com/NSobhasana"><img src="./img/t2.svg" alt="" height="70" width="70"></a></li>
    </ul>
  </footer>